@media (max-width: 1000px) {
  .contact-info {
    flex-direction: column;
    width: 50%;
  }
  .details {
    width: 50%;
  }
}
@media (max-width: 780px) {
  .contact-info {
    flex-direction: column;
    width: 80%;
  }
  .details {
    width: 80%;
  }
}
@media (max-width: 670px) {
  .contact-info {
    flex-direction: column;
    width: 100%;
  }
  .details {
    width: 100%;
  }
}
